<div class="main-content">
<img src="../../assets/images/address_book.png" class="card-img-left" alt="Image is Loading...">
<div class="cards">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text">A contact book or address book is an application that stores the information (name, address, contact no, etc.) of people that you save in it. You can also edit and delete the contact.</p>
      <p class="card-text">Sometimes we are in need of address book which can be accessed from anywhere like during our travelling sections. It’s the online address book which facilitates you to search any saved records using web from any location. It’s not only saving records, among this, you can also share your address book with other by granting appropriate permissions. There a lots of other features has been added for online address book.</p>
      <button routerLink="developer" class="btn btn-primary">Developer Details</button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
