<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
            Person Details
            <div class="contact-count"></div>
        </div>
        <button (click)="onForm()" class="add-button">
            <img src="../../assets/icons/plus_symbol.svg" alt="">Add Person
        </button>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">

        </table>
    </div>
</div>