<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
           {{title}}
            <div class="contact-count">{{addressbook.data.length}}</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control searchInput" name="firstName" [(ngModel)]="name" placeholder="Search Here..." >
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle search button-62" type="button" data-toggle="dropdown">Search By
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a (click)="searchByFirstName()">By First Name</a></li>
              <li><a (click)="searchByCity()">By City </a></li>
              <li><a (click)="searchByPhoneNumber()">By Mobile Number</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle button-62" type="button" data-toggle="dropdown">Sort By
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a (click)="sortByCityAsc()">By City Asc</a></li>
              <li><a (click)="sortByCityDesc()">By City Desc </a></li>
              <li><a (click)="sortByFirstNameAsc()">By FirstName Asc</a></li>
            </ul>
          </div>
        <!-- <div class="form-group">
            <button type="button" class="button-62 search" (click)="search()">Search</button>
            <button type="button" class="button-62" (click)="sort()">Sort</button>

        </div> -->
        <button (click)="onForm()" class="button-73">
            <img src="../../assets/icons/plus_symbol.svg" alt="">Add Person
        </button>
    </div>
</div>

<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <!--Table header-->
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
                <th>Actions</th>

            </tr>
            <tr *ngFor="let adbook of addressbook.data">
                <td>{{adbook.id}}</td>
                <td>{{adbook.firstName}}</td>
                <td>{{adbook.lastName | uppercase}}</td>
                <td>{{adbook.address}}</td>
                <td>{{adbook.city}}</td>
                <td>{{adbook.state}}</td>
                <td>{{adbook.zip}}</td>
                <td>{{adbook.phoneNumber}}</td>
        
                <!--To update and delete an employee from the database-->
                <td> 
                   <img src="../../assets/icons/delete.svg" alt="delete" (click)="deleteAddressRecord(adbook.id)">
                   <img src="../../assets/icons/edit.svg" alt="edit" (click)="editAddressRecord(adbook.id)">
                   <img src="../../assets/images/view.svg" alt="view" (click)="viewAddressRecord(adbook.id)">
                </td>
        </tr>
        </table>
    </div>
</div>