<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
           {{title}}
            <div class="contact-count"></div>
        </div>
        <button (click)="onForm()" class="add-button">
            <img src="../../assets/icons/plus_symbol.svg" alt="">Add Person
        </button>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <!--Table header-->
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
                <th>Actions</th>

            </tr>
            <tr *ngFor="let adbook of addressbook.data">
                <td>{{adbook.id}}</td>
                <td>{{adbook.firstName | uppercase}}</td>
                <td>{{adbook.lastName | uppercase}}</td>
                <td>{{adbook.address}}</td>
                <td>{{adbook.city}}</td>
                <td>{{adbook.state}}</td>
                <td>{{adbook.zip}}</td>
                <td>{{adbook.phoneNumber}}</td>
        
                <!--To update and delete an employee from the database-->
                <td> 
                   <button type="button" name="delete"  class="btn btn-outline-danger" (click)="deleteAddressRecord(adbook.id)"><img src="../../assets/icons/delete.svg" alt="delete">Delete</button> 
                   <button type="button" name="edit"  class="btn btn-outline-success" (click)="editAddressRecord(adbook.id)"><img src="../../assets/icons/edit.svg" alt="edit">Edit</button> 
                </td>
        </tr>
        </table>
    </div>
</div>